
{% load static %}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">   
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
                <link rel="stylesheet" type="text/css" href="{% static 'project/base.css' %}">  
                <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
                <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
            </head>
<body>
    {% block content %}
    {% endblock %}
<!-- <script type="text/javascript" src="/static/userRoom/js.js"></script> -->
</body>
</html>